pages:

{
  name: "Forest",
  description: "You are in forest, a path heads left. You came from town.",
  turnTo: ["Path", "Town"]
},

{
  name: "Path",
  descrpition: ...
  turnTo: [...]
}



items:

{
  name: "Chrome Sword",
  ...
}


monsters:

{
  name: "Horrible Troll",
  description: "This troll is really nasty.",
  health: 120,
  attack: 15
}
